body {
	font-family: Arial, Helvetica, sans-serif, "ו";
	font-size: 9pt;
	margin-top:0px;
	margin-left:0px;
	SCROLLBAR-FACE-COLOR: #f3f3f3;SCROLLBAR-HIGHLIGHT-COLOR: #f3f3f3; SCROLLBAR-SHADOW-COLOR: #ACACAC; SCROLLBAR-3DLIGHT-COLOR: #ACACAC; LINE-HEIGHT: 20px; SCROLLBAR-ARROW-COLOR: #ACACAC; SCROLLBAR-TRACK-COLOR: #f3f3f3; SCROLLBAR-DARKSHADOW-COLOR: #f3f3f3; SCROLLBAR-BASE-COLOR: #f3f3f3;
}
.botton{font-size:9pt; font-family:Arial,"ו"; padding-top:2px;}
.text{font-size:9pt;}