.syntax0 {
color: #000000;
}
.syntax1 {
color: #006666;
font-style: italic;
}
.syntax2 {
color: #990033;
font-style: italic;
}
.syntax3 {
color: #3333ff;
}
.syntax4 {
color: #404040;
}
.syntax5 {
color: #990033;
font-weight: bold;
font-style: italic;
}
.syntax6 {
color: #000000;
font-weight: bold;
}
.syntax7 {
color: #660066;
font-weight: bold;
}
.syntax8 {
color: #000066;
font-weight: bold;
}
.syntax9 {
color: #000066;
}
.syntax10 {
color: #5e5e5e;
font-weight: bold;
}
.syntax11 {
color: #000000;
font-weight: bold;
}
.syntax12 {
color: #666600;
}
.syntax13 {
color: #ff0000;
}
