<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<title>无标题文档</title>
<link href="css.css" rel="stylesheet" type="text/css">
<script language="JavaScript" type="text/JavaScript">
<!--


function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_showHideLayers() { //v6.0
  var i,p,v,obj,args=MM_showHideLayers.arguments;
  for (i=0; i<(args.length-2); i+=3) if ((obj=MM_findObj(args[i]))!=null) { v=args[i+2];
    if (obj.style) { obj=obj.style; v=(v=='show')?'visible':(v=='hide')?'hidden':v; }
    obj.visibility=v; }
}

function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
//-->
</script>
<style type="text/css">
<!--
.style1 {font-size: 9%}
body {
	background-color: #F4F2F2;
	margin-left: 5px;
}
-->
</style>
</head>

<body>
<table width="100%"  border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td><div id="Layer1" style="position:absolute; width:100%; height:115px; z-index:1; visibility: visible;">
        <table width="100%"  border="0" cellpadding="0" cellspacing="0" bordercolorlight="#CECECE" bordercolordark="#ffffff">
          <tr>
            <td width="3" valign="bottom" nowrap background="images/line_bg.gif"><img src="images/line.gif" width="2" height="25"></td>
            <td width="87" height="24" valign="bottom" nowrap background="images/line_bg.gif" STYLE="CURSOR: hand" onClick="MM_showHideLayers('Layer1','','show','Layer2','','hide')"><div align="center">合同主信息</div></td>
            <td width="3" valign="bottom" nowrap><img src="images/line_1.gif" width="2" height="25"></td>
            <td width="145" valign="bottom" nowrap background="images/line_bg_1.gif" STYLE="CURSOR: hand" onClick="MM_showHideLayers('Layer1','','hide','Layer2','','show')"><div align="center">支付条件及审核状态</div></td>
            <td width="754" background="images/line_2.gif"><img src="images/line_1.gif" width="2" height="25"></td>
            <td width="3" background="images/line_2.gif"><div align="right"><img src="images/line_1.gif" width="2" height="25"></div></td>
          </tr>
          <tr>
            <td width="3" valign="bottom" nowrap  style="background-repeat:repeat-y;"background="images/line_3.gif"></td>
            <td colspan="4" valign="bottom" bgcolor="#FFFFFF"><br>
              <table width="98%"  border="0" align="center" cellpadding="0" cellspacing="1">
              <tr>
                <td height="5" colspan="6" nowrap><table width="100%"  border="0" cellpadding="0" cellspacing="1" bgcolor="#000000">
                    <tr>
                      <td nowrap class="td3_2"><div align="right">合 同 号：</div></td>
                      <td nowrap class="td_1">
                        <input name="textfield42" type="text" size="16">
                      </td>
                      <td nowrap class="td3_1"><div align="right">客户单位：</div></td>
                      <td nowrap class="td_1">
                        <input name="textfield422" type="text" size="16">
                      </td>
                      <td nowrap class="td3_1"><div align="right">项目编号：</div></td>
                      <td nowrap class="td_1">
                        <input name="textfield423" type="text" size="16"></td>
                    </tr>
                    <tr>
                      <td nowrap class="td3_2"><div align="right">开单日期：</div></td>
                      <td nowrap class="td_1">
                        <input name="textfield424" type="text" size="16">
                      </td>
                      <td nowrap class="td3_1"><div align="right">开 单 人：</div></td>
                      <td nowrap class="td_1">
                        <input name="textfield425" type="text" size="16">
                      </td>
                      <td nowrap class="td3_1"><div align="right">备　注：</div></td>
                      <td nowrap class="td_1">
                        <input name="textfield426" type="text" size="16">
                      </td>
                    </tr>
                </table></td>
              </tr>
              <tr>
                <td height="5" colspan="6" nowrap class="td_1"></td>
              </tr>
              <tr bgcolor="#FFFFFF">
                <td colspan="6" nowrap><table width="100%"  border="0" align="center" cellpadding="0" cellspacing="1" bgcolor="#000000" bordercolordark="#ffffff" bordercolorlight="#CECECE">
                    <tr bgcolor="#FFFFFF" class="td3_1">
                      <td width="20"><div align="center">序号</div></td>
                      <td width="48"><div align="center">产地</div></td>
                      <td width="57"><div align="center">品牌</div></td>
                      <td width="93"><div align="center">型号规格</div></td>
                      <td width="92"><div align="center">层/站/门<br>
              (扶梯提升高度)</div></td>
                      <td width="45"><div align="center">倾斜<br>
              角度</div></td>
                      <td width="38"><div align="center">数量<br>
              (台)</div></td>
                      <td width="51"><div align="center">单价<br>
              (元)</div></td>
                      <td width="40"><div align="center">合计<br>
              (元)</div></td>
                      <td width="51"><div align="center">操作1</div></td>
                      <td width="51"><div align="center">操作2</div></td>
                    </tr>
                    <tr class="td_1">
                      <td><div align="center">1</div></td>
                      <td><div align="center">广州</div></td>
                      <td><div align="center">广日牌</div></td>
                      <td><div align="center">A130006</div></td>
                      <td><div align="center">200cm</div></td>
                      <td><div align="center">17</div></td>
                      <td><div align="center">10</div></td>
                      <td><div align="center">3000</div></td>
                      <td><div align="center">3000</div></td>
                      <td><div align="center">删除</div></td>
                      <td><div align="center">修改</div></td>
                    </tr>
                    <tr class="td_1">
                      <td><div align="center">1</div></td>
                      <td><div align="center">广州</div></td>
                      <td><div align="center">广日牌</div></td>
                      <td><div align="center">A130006</div></td>
                      <td><div align="center">200cm</div></td>
                      <td><div align="center">17</div></td>
                      <td><div align="center">10</div></td>
                      <td><div align="center">3000</div></td>
                      <td><div align="center">3000</div></td>
                      <td><div align="center">删除</div></td>
                      <td><div align="center">修改</div></td>
                    </tr>
                    <tr class="td_1">
                      <td><div align="center">1</div></td>
                      <td><div align="center">广州</div></td>
                      <td><div align="center">广日牌</div></td>
                      <td><div align="center">A130006</div></td>
                      <td><div align="center">200cm</div></td>
                      <td><div align="center">17</div></td>
                      <td><div align="center">10</div></td>
                      <td><div align="center">3000</div></td>
                      <td><div align="center">3000</div></td>
                      <td><div align="center">删除</div></td>
                      <td><div align="center">修改</div></td>
                    </tr>
                  </table>
                    <table width="100%"  border="0" align="center" cellpadding="0" cellspacing="0">
                      <tr>
                        <td class="td_1">&nbsp;货价合计(元)：￥
                            <input name="textfield" type="text" class="textarea4_1" size="5">
            元</td>
                      </tr>
                      <tr>
                        <td class="td_1">&nbsp;自提汽吊费：￥
                            <input name="textfield2" type="text" class="textarea4_1" size="5">
            元</td>
                      </tr>
                      <tr>
                        <td class="td_1">&nbsp;合同总价：人民币￥
                            <input name="textfield3" type="text" class="textarea4_1" size="5">
            拾
            <input name="textfield32" type="text" class="textarea4_1" size="5">
            万
            <input name="textfield33" type="text" class="textarea4_1" size="5">
            仟
            <input name="textfield34" type="text" class="textarea4_1" size="5">
            佰
            <input name="textfield35" type="text" class="textarea4_1" size="5">
            拾
            <input name="textfield36" type="text" class="textarea4_1" size="5">
            元整　　　　(￥　　元)</td>
                      </tr>
                  </table></td>
            </table>
              <br></td>
            <td width="3" valign="bottom" background="images/line_4.gif"></td>
          </tr>
          <tr bgcolor="#C6C6C6">
            <td height="1" colspan="6" valign="bottom" nowrap></td>
          </tr>
        </table>
        <div align="left"></div>
    </div>
         <div id="Layer2" style="position:absolute; width:100%; height:115px; z-index:2; visibility: hidden;">
          <table width="100%"  border="0" cellpadding="0" cellspacing="0" bordercolorlight="#CECECE" bordercolordark="#ffffff">
            <tr>
              <td width="3" valign="bottom" nowrap background="images/line_bg.gif"><img src="images/line.gif" width="2" height="25"></td>
              <td width="87" height="24" valign="bottom" nowrap background="images/line_bg_1.gif" STYLE="CURSOR: hand" onClick="MM_showHideLayers('Layer1','','show','Layer2','','hide')"><div align="center">合同主信息</div></td>
              <td width="3" valign="bottom" nowrap><img src="images/line_1.gif" width="2" height="25"></td>
              <td width="145" valign="bottom" nowrap background="images/line_bg.gif" STYLE="CURSOR: hand" onClick="MM_showHideLayers('Layer2','','hide','Layer1','','show')"><div align="center">支付条件及审核状态</div></td>
              <td width="754" background="images/line_2.gif"><img src="images/line_1.gif" width="2" height="25"></td>
              <td width="3" background="images/line_2.gif"><div align="right"><img src="images/line_1.gif" width="2" height="25"></div></td>
            </tr>
            <tr>
              <td width="3" valign="bottom" nowrap  style="background-repeat:repeat-y;"background="images/line_3.gif"></td>
              <td colspan="4" valign="bottom" bgcolor="#FFFFFF"><br>                <table width="98%"  border="0" align="center" cellpadding="0" cellspacing="1" bgcolor="#000000">
                <tr>
                  <td colspan="6" class="td3_2">&nbsp;审核信息</td>
                </tr>
                <tr class="td_1">
                  <td><div align="right">是否审核：</div></td>
                  <td>                    <input name="radiobutton1" type="radio" value="radiobutton" checked>
是
<input type="radio" name="radiobutton1" value="radiobutton">
否</td>
                  <td><div align="right">审核状态：</div></td>
                  <td><input name="textfield4" type="text" size="16"></td>
                  <td><div align="right">审核人：</div></td>
                  <td><input name="textfield43" type="text" size="16"></td>
                </tr>
                <tr class="td_1">
                  <td><div align="right">审核日期：</div></td>
                  <td><input name="textfield44" type="text" size="16"></td>
                  <td><div align="right">排产标志：</div></td>
                  <td><input name="textfield45" type="text" size="16"></td>
                  <td><div align="right">确认排产日期：</div></td>
                  <td><input name="textfield46" type="text" size="16"></td>
                </tr>
                <tr class="td_1">
                  <td><div align="right">确认排产人：</div></td>
                  <td><input name="textfield49" type="text" size="16"></td>
                  <td><div align="right">是否作废：</div></td>
                  <td><input name="textfield48" type="text" size="16"></td>
                  <td><div align="right">作废人：</div></td>
                  <td><input name="textfield47" type="text" size="16"></td>
                </tr>
                <tr class="td_1">
                  <td><div align="right">作废日期：</div></td>
                  <td><input name="textfield410" type="text" size="16"></td>
                  <td><div align="right">作废备注：</div></td>
                  <td colspan="3"><input name="textfield411" type="text" size="45"></td>
                </tr>
                <tr>
                  <td colspan="6" class="td3_2">&nbsp;支付条件</td>
                </tr>
                <tr class="td_1">
                  <td><div align="right">支付定金天数：</div></td>
                  <td><input name="textfield412" type="text" size="16"></td>
                  <td><div align="right">支付定金百分比：</div></td>
                  <td><input name="textfield413" type="text" size="16"></td>
                  <td><div align="right">排产前支付天数：</div></td>
                  <td><input name="textfield414" type="text" size="16"></td>
                </tr>
                <tr class="td_1">
                  <td><div align="right">支付排产款百分比：</div></td>
                  <td><input name="textfield415" type="text" size="16"></td>
                  <td><div align="right">交货支付百分比：</div></td>
                  <td colspan="3"><input name="textfield416" type="text" size="16"></td>
                </tr>
                <tr>
                  <td colspan="6" class="td3_2">&nbsp;附件</td>
                </tr>
                <tr class="td_1">
                  <td colspan="2"><input type="file" name="file"></td>
                  <td colspan="4">&nbsp;</td>
                </tr>
              </table>
              <br></td>
              <td width="3" valign="bottom" background="images/line_4.gif"></td>
            </tr>
            <tr bgcolor="#C6C6C6">
              <td height="1" colspan="6" valign="bottom" nowrap></td>
            </tr>
          </table>
      </div></td>
  </tr>
</table>
</body>
</html>
